@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* HEADER */
header{
    background-image: linear-gradient(to bottom, #3DDA84, #195A36);
    color: white;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.438);
    min-width: 400px;
}
#cabecalho{
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
}
h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}
nav{
    padding: 10px 25px;
}
nav > a{
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: background-color 0.60s;
}
nav > a:hover{
    background-color: #2fa866;
    color: darkgreen;
    text-decoration: underline;
    cursor: pointer;
}

/* CORPO DO TEXTO E TÃTULOS */
body{
    background-color: #84E1AD;
}
main{
    background-color: white;
    min-width: 370px;
    max-width: 850px;
    margin: auto;
    padding: 20px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.384);
}
h2, h3{
    font-family: idroid;
    color: #226240;
}
#titulo-main{
    font-size: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
}
.subtitulo{
    padding-left: 10px;
    background-image: linear-gradient(to right, #BCE4CE , transparent);
    font-size: 1.5em;
}
.texto{
    text-indent: 30px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4em;
}
img {
    width: 100%;
}
.img-pq{
    max-width: 350px;
    display: block;
    margin: auto;
}


/* EXTRA */
#extra{
    background: #C5EBD6;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
}
#extra > div{
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    color: white;
    background: #2fa866;
    padding: 10px 0 10px 10px;
}
#extra > p{
    padding: 0 10px;
}
ul{
    list-style-type: "\2714";
    column-count: 2;
    margin-left: 25px;
}
li{
    padding-left: 10px;
}

footer{
    background-color: #195A36;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px 0;
    min-width: 400px;
}